<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTF Cinema Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-body {
            color: black;
        }
        .text-primary:hover {
            text-decoration: underline;
        }
        .full-height {
            height: 100vh;
        }
        .card {
            max-width: 500px;
            margin: 20px auto;
        }
        .first-card {
            margin-top: 700px; /* Increase the margin-top value */
        }
        .card:not(.first-card) {
            margin-top: 50px; /* Add margin-top to other cards */
        }
        .back-link {
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
        }
    </style>
</head>
<body class="bg-dark text-white d-flex justify-content-center align-items-center full-height">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="text-center mb-4">
                <h1>Administrar Film Shows</h1>
            </div>

            <!-- Add/Update Film Show Card -->
            <div class="card first-card">
                <div class="card-body">
                    <h2 class="card-title text-center">Agregar/Actualizar Film Show</h2>
                    <!-- Form to add or update a film show -->
                    <form th:action="@{/filmshows/update}" method="post">
                        <div class="form-group">
                            <label for="date">Fecha:</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="time">Hora:</label>
                            <input type="time" class="form-control" id="time" name="time" required>
                        </div>
                        <div class="form-group">
                            <label for="branch">Sucursal:</label>
                            <input type="text" class="form-control" id="branch" name="branch" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Titulo de Pelicula:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="room">Sala:</label>
                            <input type="text" class="form-control" id="room" name="room" required>
                        </div>
                        <div class="form-group">
                            <label for="specialEffects">Efectos Especiales:</label>
                            <input type="text" class="form-control" id="specialEffects" name="specialEffects" required>
                        </div>
                        <div class="form-group">
                            <label for="language">Lenguaje:</label>
                            <input type="text" class="form-control" id="language" name="language" required>
                        </div>
                        <div class="form-group">
                            <label for="duration">Duracion:</label>
                            <input type="text" class="form-control" id="duration" name="duration" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </form>
                </div>
            </div>

            <!-- Search Film Show Card -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Buscar Film Show</h2>
                    <!-- Form to search for a film show by ID -->
                    <form th:action="@{/filmshows/byId}" method="get">
                        <div class="form-group">
                            <label for="searchId">ID:</label>
                            <input type="number" class="form-control" id="searchId" name="id" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                    </form>
                </div>
            </div>

            <!-- Delete Film Show Card -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Eliminar Film Show</h2>
                    <!-- Form to delete a film show by ID -->
                    <form th:action="@{/filmshows/delete}" method="post">
                        <div class="form-group">
                            <label for="deleteId">ID:</label>
                            <input type="number" class="form-control" id="deleteId" name="id" required>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<a href="mainAdmin" class="back-link">&larr; Volver a Panel de Administrador</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>